<!-- // task creation and updation -->
<div class="task">
    <form
        class="form"
        [formRoot]="form"
        (submit)="submit()"
    >
        <input
            type="text"
            id="title"
            placeholder="Title"
            [formField]="form.title"
        />

        @if (form.title().touched() && form.title().invalid()) {
            <div class="error">
                @if (
                    form
                        .title()
                        .errors()
                        .some((error) => error.kind === 'required')
                ) {
                    <span>Title is required.</span>
                }

                @if (
                    form
                        .title()
                        .errors()
                        .some((error) => error.kind === 'minLength')
                ) {
                    <span>Title must be at least 3 characters.</span>
                }

                @if (
                    form
                        .title()
                        .errors()
                        .some((error) => error.kind === 'maxLength')
                ) {
                    <span>Title cannot exceed 255 characters.</span>
                }
            </div>
        }

        <input
            type="text"
            id="description"
            placeholder="Description"
            [formField]="form.description"
        />

        @if (form.description().touched() && form.description().invalid()) {
            <div class="error">
                @if (
                    form
                        .description()
                        .errors()
                        .some((error) => error.kind === 'maxLength')
                ) {
                    <span>Description cannot exceed 2000 characters.</span>
                }
            </div>
        }

        <select
            id="priority"
            [formField]="form.priority"
        >
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>

        <select
            id="status"
            [formField]="form.status"
        >
            <option value="todo">Todo</option>
            <option value="in_progress">In Progress</option>
            <option value="done">Done</option>
        </select>

        <input
            type="date"
            id="dueDate"
            [formField]="form.dueDate"
        />

        <div class="form__actions">
            @if (formState() === 'create') {
                <button
                    type="submit"
                    [disabled]="form().invalid()"
                >
                    Submit
                </button>
            } @else {
                <button
                    type="submit"
                    [disabled]="form().invalid()"
                >
                    Update
                </button>
            }
            <button
                type="button"
                (click)="clear()"
            >
                Clear
            </button>
        </div>
    </form>

    <!-- Search  -->
    <fieldset class="filter">
        <legend>Filter</legend>
        <div class="filter__form">
            <input
                type="text"
                placeholder="Search"
                name="search"
                id="search"
                [value]="search()"
                (input)="handleSearch($event)"
            />
            <select
                id="status"
                [value]="status()"
                (change)="handleStatus($event)"
            >
                <option value="">All Statuses</option>
                <option value="todo">Todo</option>
                <option value="in_progress">In Progress</option>
                <option value="done">Done</option>
            </select>
            <select
                id="priority"
                [value]="priority()"
                (change)="handlePriority($event)"
            >
                <option value="">All priorities</option>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
            <button
                type="button"
                (click)="clearFilter()"
            >
                Clear
            </button>
        </div>
    </fieldset>

    <!-- // Task List -->
    <div class="list">
        <table class="list__table">
            <tr class="list__row">
                <th class="list__cell _title">Title</th>
                <th class="list__cell _description">Description</th>
                <th class="list__cell _status">Status</th>
                <th class="list__cell _priority">Priority</th>
                <th class="list__cell _due-date">Due Date</th>
                <th class="list__cell _action">action</th>
            </tr>
            @if (!taskStore.isLoading()) {
                @for (task of tasksFrmStore(); track task.id) {
                    <tr class="list__row">
                        <td class="list__cell _title">{{ task.title }}</td>
                        <td class="list__cell _description">{{ task.description || '-' }}</td>
                        <td class="list__cell _status">{{ task.status }}</td>
                        <td class="list__cell _priority">{{ task.priority }}</td>
                        <td class="list__cell _due-date">{{ task.dueDate | date: 'MMM d, y' }}</td>
                        <td class="list__cell _action">
                            <button
                                class="button _delete"
                                type="button"
                                (click)="delete(task.id)"
                            >
                                Del
                            </button>

                            <button
                                class="button _primary"
                                type="button"
                                (click)="update(task)"
                            >
                                Update
                            </button>
                        </td>
                    </tr>
                } @empty {
                    No Tasks
                }
            } @else {
                <h1>Loading...</h1>
            }
            <!-- </tbody> -->
        </table>
    </div>
</div>
